.form{
    width: 60%;
}
.warnnig{
    color: red;
}
.WTitle{
    display: none;
}
.WDes{
    display: none;
}
.STitle{
    display: block;
}
.SDes{
    display: block;
}
.page{
    width: 320px;
    margin: 0 auto;
}